<nav class="navbar navbar-expand-lg bg-light">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-item nav-link text-dark" href="/">Главная</a>
            </li>
            <li class="nav-item">
                <a class="nav-item nav-link text-dark" href="/instructors">Инструкторы админ-панель</a>
            </li>
            <li class="nav-item">
                <a class="nav-item nav-link text-dark" href="/instructors/active">Инструкторы</a>
            </li>
            <li class="nav-item">
                <a class="nav-item nav-link text-dark" href="/instructors/add">Добавить инструктора</a>
            </li>
            <li class="nav-item">
                <a class="nav-item nav-link text-dark" href="/sessions/add">Добавить занятие</a>
            </li>
            <li class="nav-item">
                <a class="nav-item nav-link text-dark" href="/sessions">Занятия</a>
            </li>
            <li class="nav-item">
                <a class="nav-item nav-link text-dark" href="/schedule/upcoming">Расписание</a>
            </li>
            <li class="nav-item">
                <a class="nav-item nav-link text-dark" href="/schedule/discounts">Акции</a>
            </li>
            <li class="nav-item">
                <a class="nav-item nav-link text-dark" href="/user/profile">Профиль</a>
            </li>
            <li class="nav-item">
                <a class="nav-item nav-link text-dark" href="/reviews">Отзывы</a>
            </li>
        </ul>
    </div>
</nav>
