<!DOCTYPE html>
<html lang="ru" class="h-100" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head}"></head>
<body class="d-flex flex-column h-100">
<div th:replace="~{fragments/navbar}">Navbar</div>
<main class="flex-shrink-0">
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <main class="jumbotron text-center rounded col-md-12 align-self-center pt-5">
                <div class="justify-content-center">
                    <h1>Информация об инструкторе</h1>
                </div>
                <div class="row bg-light rounded">
                        <h4 th:text="'ID: ' + ${model.instructor.id}"></h4>
                        <h4 th:text="'ФИО: ' + ${model.instructor.name}"></h4>
                        <h4 th:text="'Сертификат: ' + ${model.instructor.certificate}"></h4>
                        <h4 th:text="'Фото: ' + ${model.instructor.photoUrl}"></h4>
                        <h4 th:text="'Уволен: ' + ${model.instructor.isDeleted}"></h4>
                        <div class="align-bottom">
                            <a class="btn btn-danger align-bottom"
                               th:href="@{/instructors/{id}/delete(id=${model.instructor.id})}"
                               th:if="${!model.instructor.isDeleted}"
                               onclick="return confirm('Вы уверены, что хотите уволить этого инструктора?');">Уволить</a>
                        </div>
                </div>
            </main>
        </div>
    </div>
</main>
<footer th:replace="~{fragments/footer}"></footer>
</body>
</html>