<!DOCTYPE html>
<html lang="ru" class="h-100" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head"/>
<body class="d-flex flex-column h-100">
<div th:replace="fragments/navbar">Navbar</div>
<main class="flex-shrink-0">
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="jumbotron text-center rounded col-md-8 align-self-center pt-5">
                <div class="justify-content-center">
                    <h1>Редактировать профиль пользователя</h1>
                </div>
                <form th:action="@{/user/profile/{id}/edit(id=${form.id})}"
                      th:method="post"
                      th:object="${form}"
                      class="m-md-auto w-50 pb-3">

                    <input th:field="*{id}"
                           type="hidden"
                           class="form-control text-center"
                           id="id"/>

                    <!-- Поле для имени пользователя -->
                    <div class="mb-3">
                        <label class="form-label" for="name">Имя</label>
                        <input th:field="*{name}"
                               th:errorclass="is-invalid"
                               type="text"
                               class="form-control text-center"
                               id="name"/>
                        <small th:if="${#fields.hasErrors('name')}"
                               th:errors="*{name}"
                               class="text-danger">Ошибка в имени</small>
                    </div>

                    <!-- Поле для email -->
                    <div class="mb-3">
                        <label class="form-label" for="email">Email</label>
                        <input th:field="*{email}"
                               th:errorclass="is-invalid"
                               type="email"
                               class="form-control text-center"
                               id="email"/>
                        <small th:if="${#fields.hasErrors('email')}"
                               th:errors="*{email}"
                               class="text-danger">Ошибка в email</small>
                    </div>

                    <!-- Поле для текущего пароля -->
                    <div class="mb-3">
                        <label class="form-label" for="currentPassword">Текущий пароль</label>
                        <input th:field="*{currentPassword}"
                               th:errorclass="is-invalid"
                               type="password"
                               class="form-control text-center"
                               id="currentPassword"/>
                        <small th:if="${#fields.hasErrors('currentPassword')}"
                               th:errors="*{currentPassword}"
                               class="text-danger">Ошибка в текущем пароле</small>
                    </div>

                    <!-- Поле для нового пароля -->
                    <div class="mb-3">
                        <label class="form-label" for="newPassword">Новый пароль</label>
                        <input th:field="*{newPassword}"
                               th:errorclass="is-invalid"
                               type="password"
                               class="form-control text-center"
                               id="newPassword"/>
                        <small th:if="${#fields.hasErrors('newPassword')}"
                               th:errors="*{newPassword}"
                               class="text-danger">Ошибка в новом пароле</small>
                    </div>

                    <!-- Поле для подтверждения нового пароля -->
                    <div class="mb-3">
                        <label class="form-label" for="confirmNewPassword">Подтверждение нового пароля</label>
                        <input th:field="*{confirmNewPassword}"
                               th:errorclass="is-invalid"
                               type="password"
                               class="form-control text-center"
                               id="confirmNewPassword"/>
                        <small th:if="${#fields.hasErrors('confirmNewPassword')}"
                               th:errors="*{confirmNewPassword}"
                               class="text-danger">Ошибка в подтверждении нового пароля</small>
                    </div>

                    <button type="submit" class="btn btn-secondary">Сохранить изменения</button>
                </form>
            </div>
        </div>
    </div>
</main>
<footer th:replace="fragments/footer"/>
</body>
</html>
